.main {
  overflow-y: hidden;
  display: block;
}

.data_content {
  padding: 14px;
  height: 100%;
}

#chart-container {
  height: 350px;
  margin: auto;
}

#chart-container-1 {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  height:350px;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

#chart-inner-container-1 {
  height:350px;
  position: absolute;
}



#chart-container-2 {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  height:350px;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

#chart-inner-container-2 {
  height:300px;
  position: absolute;
}

svg {
  height: 100%;
  min-height: 350px;
}

.bar-total {
  font-family: sans-serif;
  font-size: .8em;
}

.export-row {
  margin-bottom: 20px;
}

#sbc1-container {
  display: inline-block;
  width: 75%;
}

#sbc2-container {
  display: inline-block;
  width: 75%;
}

#sbc1_container {
  /* padding: 2%; */
  padding: 10px;
  max-height: 200px;
  overflow-y: scroll;
  border: 0px;
}

#sbc2_container {
  /* padding: 2%; */
  padding: 10px;
  max-height: 200px;
  overflow-y: scroll;
  border: 0px;
}

#sbc1_container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

#sbc2_container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

#sbc1_container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#sbc2_container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#sbc1-group-by-container {
  padding-bottom: 20px;
}

#sbc2-group-by-container {
  padding-bottom: 20px;
}

#sbc1-group-by-and-legend-container {
  width:24%;
  display: inline-block;
}

#sbc2-group-by-and-legend-container {
  width:24%;
  display: inline-block;
}

#sbc1-form-controls {
  margin: 0 auto;
  margin-bottom: 0px;
  position: relative;
  width: 800px;
}

#sbc2-form-controls {
  margin: 0 auto;
  margin-bottom: 0px;
  position: relative;
  width: 800px;
}

#dc1 {
  width: 100%;
}

#dc1-form-controls {
  margin: 0 auto;
  margin-bottom: 0px;
  margin-top: 10px;
  position: relative;
  width: 800px;
}

#dc2 {
  width: 100%;
}

#dc2-form-controls {
  margin: 0 auto;
  margin-bottom: 0px;
  margin-top: 10px;
  position: relative;
  width: 800px;
}

.chart__chooser {
  padding: 0em 0em 1em 0em;
}

.chooser_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 1200px;
}

.export-button {
  display: flex;
  justify-content: right;
  padding: 0px;
  margin: 0px;
  height: 100%;
  align-items: end;
}


div.thumbnail_chart {
  color: blue;
  cursor: pointer;
  margin: 1em 1em 1em 0em;
  padding: 0.5em;
  text-align: center;
  width: 210px;
}

div.selected {
  color: #a0a0a0;
  cursor: auto;
}

img.thumbnail_chart {
  border: 2px solid blue;
  margin: 0em 0em 0.5em 0em;
  opacity: 1;
  width: 180px;
}

div.selected img {
  border: 2px solid #a0a0a0;
  opacity: 0.5;
}
    
img.thumbnail_donut_chart {
  width: 100px;
  margin: 0em 0em 0.5em 0em;
  border: 2px solid blue;
  opacity: 1;
}

#expand_all {
  flex:0 1 auto;
}

.data_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.last-updated {
	font-size: 14px;
	flex:0 1 auto;
}

.form-label {
  padding-top: 0.25em;
  margin-bottom: 0em;
}

.fade2 {
  opacity: 1 important!;
  transition:opacity .15s linear;
}

.close2 {
  background-color: transparent;
  border: 0;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .5;
}
