body {

}

.top_content_section_right {
	display: flex;
	flex:0 0 200px;
	align-content: flex-end;
	padding-right: 50px;
}

.top_content_section_right .data_preview {
	float: right;
	width: 240px;
	font-size: 1rem;
	color: #333333;
	margin-left: 5px;
	margin-top: 5px;
	border-left:1px solid #CCCCCC;
}

.top_content_section_right .data_preview td {
	padding:0 0 0 10px;
	border-bottom:1px solid #CCCCCC;
}

/* Main Data Structure
----------------------------------------*/

.main_data_content {
	display: flex;
	flex-direction: flex-start;
}
.main_data_content_left {
	flex:0 0 400px;
	height: 750px;
	margin-right: 20px;
}
.main_data_content_right {
	flex:1 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 850px;
}

/* Data Review (sidebar)
----------------------------------------*/
.data_review {
	border:1px solid #cccccc;
}

.data_content {
	flex:1;
	min-height: 400px;
	height: 550px;
	overflow-y: scroll;
}

.data_tables_wrap {
	flex:1 0 auto;
	overflow: auto;
	padding:10px;
}

.data_tables_wrap p {
	padding:0;
	margin:0;
	font-size: 17px;
	font-weight: normal;
}

.table {
	margin:0 0 20px 0;
}

.table table {
	width: 100%;
	border:1px solid #cccccc;
	font-weight: 300;
}

.table table tr:nth-of-type(odd) {
	background: #F1F1F1;
}

.table table a {
	color: #0366D6;
	font-weight: 200;
	text-decoration: underline;
}

.table table td {
	padding:5px;
	border:1px solid #cccccc;
}

.table table td:nth-of-type(even) {
	text-align: right;
}


/* Data Snapshot
----------------------------------------*/
.data_snapshot {
	flex:0 0 100%;
}
.data_snapshot_border {
        border:1px solid #cccccc;
}
.snapshot {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.snapshot_head {
	flex:0 1 auto;
}

.last-updated {
	font-size: 14px;
	flex:0 1 auto;
}

.data_snapshot_content {
	padding:20px;
	height: 550px;
}

.reports_wrap {
	flex:1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.provenance_report {
    flex:1 1 45%;
    margin-right: 20px;
    border:1px solid #cccccc;
}

.report_issues {
    flex:1 1 45%;
    border:1px solid #cccccc;
}

.provenance_report_content {
	margin-left: 20px;
	margin-top: 10px;
}

.report_issues_content {
	margin-left: 20px;
	margin-top: 10px;
}
