/**
 * Caution: This file is used to resolve CSS conflicts between the
 * portal/dashboard and the Chaise navbar. However, any styles here also affect
 * the Chaise UI.
 */

body {
  overflow-x: hidden;
}

/* remove style defined from chaise */
body .content {
    padding-top: 0px;
}

navbar {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

navbar header {
  background: none;
  padding: 0px;
}

/* banner at top of page */
navbar header.row::before {
    content: "Development Server. The data and features of this page are not official and are only for testing purposes.";
    height: 30px;
    background-color: #447e71;
    color: white;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}

navbar header.row {
  display: block;
}

navbar .navbar {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
}

navbar .navbar-brand {
  margin-right: 0px;
}

navbar .navbar-nav {
  -ms-flex-direction: unset;
  flex-direction: unset;
}

navbar #login-link {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    border: 1px solid white;
    border-radius: 4px;
}

/* external link icon to use in navbar */
navbar a span.external-link-icon:not(:empty):not(.external-link-no-icon)::after {
    display: inline-block;
    font-size: .85rem;
    font-family: 'Glyphicons Halflings';
    content: "\e164";
    padding-left: 2px;
}

/* lock icon to use in navbar */
navbar a.disable-link::after {
    display: inline-block;
    font-size: .85rem;
    font-family: 'Glyphicons Halflings';
    content: "\e033";
    padding-left: 2px;
}

/* patches a style for submenu positions */
navbar .navbar-nav .dropdown-menu {
    position: absolute;
}

/* patches a style for submenu positions */
.navbar-nav .dropdown-submenu>.dropdown-menu {
    position: fixed;
}

/* hide caret shown from other stylesheet */
navbar .navbar-nav .dropdown>.dropdown-toggle::after {
    content: none;
}

.navbar-inverse {
  background-color: #336699;
  border: none;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav.navbar-right>li>a {
    color: #FFF;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav.navbar-right>li>a:hover {
    color: #C1C1C1;
    background-color: transparent;
    cursor: pointer;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav.navbar-right>.open>a:hover {
    color: #fff;
    background-color: #3046a4;
}

.navbar-brand {
  padding: 5px 15px;
}

#brand-image {
  height: 40px;
  width: auto;
}

/* ===== Styles and colors for status icons ===== */

.cfde_noinfo, .cfde_pending, .cfde_success,
.cfde_retired, .cfde_rejected, .cfde_error,
.cfde_grey_disc, .cfde_green_disc, .cfde_yellow_disc {
  padding-left: 17px;
  position: relative;
}

.cfde_noinfo::before, .cfde_pending::before, .cfde_success::before,
.cfde_retired::before, .cfde_rejected::before, .cfde_error::before,
.cfde_grey_disc::before, .cfde_yellow_disc::before, .cfde_green_disc::before {
  content: "";
  left: 0px;
  top: -1px;
  width: 14px;
  height: 14px;
  position: absolute;
  font-family: "Font Awesome 5 Free";
}

.cfde_grey_disc::before,
.cfde_yellow_disc::before,
.cfde_green_disc::before {
    top: 2px;
    border-radius: 50%;
}

.cfde_noinfo::before {
  /* light grey filled circle */
  /* fas fa-circle */
  content: "\f111";
  color: grey;
  font-weight: 900;
}

.cfde_pending::before {
  /* green hollow circle with a checkmark */
  /* far fa-check-circle */
  content: "\f058";
  color: green;
  font-weight: 500;
}

.cfde_success::before {
  /* green filled circle with checkmark */
  /* fas fa-check-circle */
  content: "\f058";
  color: green;
  font-weight: 900;
}

.cfde_retired::before {
  /* green hollow circle */
  /* far fa-circle */
  content: "\f111";
  color: green;
  font-weight: 500;
}

.cfde_rejected::before {
  /* red filled circle with an X */
  /* fas fa-times-circle */
  content: "\f057";
  color: red;
  font-weight: 900;
}

.cfde_error::before {
  /* yellow (or orange) solid circle with exclamation mark */
  /* fas fa-exclamation-circle */
  content: "\f06a";
  color: orange;
  font-weight: 900;
}

.cfde_grey_disc::before {
    background-color: #AAAAAA;
}

.cfde_green_disc::before {
    background-color: #008000;
}

.cfde_yellow_disc::before {
    background-color: yellow;
}

#form-controls .container,
#sbc1-form-controls .container,
#sbc2-form-controls .container,
#dc1-form-controls .container,
#dc2-form-controls .container {
  width: 100%;
}

/* Set column min width for submitted datapackage table */
.s_CFDE.t_datapackage td table>thead,
.s_CFDE.t_release td table>thead{
  display: none;
}

.s_CFDE.t_datapackage td table>tbody>tr,
.s_CFDE.t_release td table>tbody>tr {
  vertical-align: top;
}

.s_CFDE.t_datapackage td table>tbody>tr>td:first-child,
.s_CFDE.t_release td table>tbody>tr>td:first-child {
  min-width: 170px;
}

.s_CFDE.t_datapackage td table>tbody>tr>td:last-child,
.s_CFDE.t_release td table>tbody>tr>td:last-child {
  width: 100%;
}

.s_CFDE.t_datapackage .c_submission_time,
.s_CFDE.t_datapackage .c_HEsd_I3mFWuTZR1aj0e7GA,
.s_CFDE.t_release .c_RID,
.s_CFDE.t_release .c_status {
    min-width: 500px;
}
