
/* CSS from dcc-review.css
----------------------------------------*/

.top_content_section_right {
	display: flex;
	flex:0 0 200px;
	align-content: flex-end;
	padding: 0.5rem;
}

.top_content_section_right .data_preview {
	float: right;
	width: 240px;
	font-size: 1rem;
	color: #333333;
	margin-left: 5px;
	margin-top: 5px;
	border-left:1px solid #CCCCCC;
}
.top_content_section_right .data_preview td {
	padding:0 0 0 10px;
	border-bottom:1px solid #CCCCCC;
}

.data_snapshot {
	border:1px solid #cccccc;
	flex:0 0 100%;
	margin-bottom: 20px;
}

.snapshot {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.snapshot_head {
	flex:0 1 auto;
}

.last-updated {
	font-size: 14px;
	flex:0 1 auto;
}


/* End - CSS from dcc-review.css
----------------------------------------*/

main {
    margin-left: auto;
    margin-right: auto;
}

.data_content {
    padding: 14px;
}

.data_content>p {
    font-size: 1.25rem;
}

#browse-by-feature-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  margin: 0 auto;
  padding: 0px;
}

#search-by-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}

#search-by-misc {
  text-align: center;
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}

#sbc1-group-by-and-legend-container {
  width:24%;
  display: inline-block;
}

#sbc1-container {
  height:300px;
  display: inline-block;
  width: 75%;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

#chart-inner-container {
  height:300px;
  position: absolute;
}


.export-button {
  bottom: 0;
  position: absolute;
  right: 0;
  padding: 0px;
  margin: 0px;
}

#sbc1_container {
  /* padding: 2%; */
  padding: 10px;
  max-height: 200px;
  overflow-y: scroll;
  border: 0px;
  
}

#sbc1-group-by-container {
  padding-bottom: 20px;
}
/* #sbc1_container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

#sbc1_container::-webkit-scrollbar-track {
  background-color: blue;
  width: 20px;
} */

  
/* #sbc1_container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */

#chart-container {
  height: 350px;
  margin: auto;
}

svg {
  height: 100%;
  /* width: 100%; */
}

.bar-total {
  font-family: sans-serif;
  font-size: .8em;
}

.export-row {
  margin-bottom: 20px;
}

#form-controls {
  margin: 0 auto;
  margin-bottom: 0px;
  margin-top: 10px;
  width: auto;
}

.content__left {
  flex: 1 0 280px;
}

.content__right {
  flex: 1 1 940px;
  margin: 0px 10px 20px 10px;
}

@media (min-width:1300px) {
    .content__top {
	justify-content: center;
    }
}

/* 3 content boxes shown at bottom now */
.content__bottom {
  justify-content: space-between;
}

.content__bottom .left {
  flex: 1 1;
}

.content__bottom .middle {
  flex: 1 1;
}

.content__bottom .right {
  flex: 1 1;
}

.form-label {
  padding-top: 0.25em;
  margin-bottom: 0em;
}
