.data_content {
    padding: 14px;
}

.data_content>p {
    font-size: 1.25rem;
}

#chart-container {
  height: 350px;
  margin: auto;
}

svg {
  height: 100%;
  width: 100%;
}

.bar-total {
  font-family: sans-serif;
  font-size: .8em;
}

.export-row {
  margin-bottom: 20px;
}

#form-controls {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 600px;
}

/* 3 content boxes shown at bottom now */
.content__bottom .left {
  flex: 1 0 400px;
  margin-right: 20px;
}

.content__bottom .middle {
  flex: 1 0 400px;
  margin-right: 20px;
}

.content__bottom .right {
  flex: 1 0 400px;
}
