
.summary_chart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0rem;
}

.svg_container {
    flex: 5 1 85%;
    border: 1px solid #cccccc;
    margin-right: 20px;
    padding: 0.5rem;
}

.checkboxes {
    flex: 1 1 15%;
    border: 1px solid #cccccc;
    padding: 1rem 1rem 1rem 0rem;
}

.content__center {
    border: 1px solid #cccccc;
    flex: 1 1 100%;
    margin: 0px 10px 10px 10px;
}

.content__left {
    flex: 1 1 70%;
    min-height: auto;
}

.content__right {
    flex: 1 1 30%;
    min-height: auto;
}

.content__bottom {
  width: 100%;
}

svg {
    min-height: 350px;
}

.checkboxes {
    flex: 1 1 15%;
}

.button {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.favorite-container {
    list-style-type: none;
    padding: 10px;
}

.favorite {
    font-size: .85rem;
    /* padding-left: 10px; */
}

#favorite-nav-content .fade {
    opacity: 1;
    transition:opacity .15s linear;
  }
  
#favorite-nav-content .fade:not(.show) {
    opacity:0
}

.saved_query_message {
    font-size: .85rem;
    border: 0px solid #FFF !important;
}
  