.summary_chart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0rem;
} 
  
.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:5px;
  	height:50px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3500px;
    margin-top:0px;
}

.list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:13px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}

#chart-container {
    height: 350px;
    margin: auto;
}

#sbc1-controls input {
    margin-left: 0rem;
}

#sbc1-controls label {
    margin-left: 1.2rem;
}


#chart-container-1 {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

#sbc1-group-by-container {
    padding-bottom: 20px;
    margin-top: -12px;
}
  
#sbc1-group-by-and-legend-container {
    width:20%;
    display: inline-block;
    padding-left: 8px;
}

#sbc1_container {
    /* padding: 2%; */
    padding: 10px;
    max-height: 250px;
    overflow-y: scroll;
    border: 0px;
}


  
.checkboxes {
    margin: 15px;
    flex: 1 1 10%;
    border: 1px solid #cccccc;
    padding: 1rem 1rem 1rem 0rem;
}

.content__center {
    border: 1px solid #cccccc;
    flex: 1 1 100%;
    margin: 0px 10px 10px 10px;
}

.content__left {
    flex: 1 1 70%;
    min-height: auto;
}

.content__right {
    flex: 1 1 30%;
    min-height: auto;
}

.content__bottom {
  width: 100%;
}

svg {
    min-height: 350px;
}

.button {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.favorite-container {
    list-style-type: none;
    padding: 10px;
}

.favorite {
    font-size: .85rem;
    /* padding-left: 10px; */
}

#favorite-nav-content .fade {
    opacity: 1;
    transition:opacity .15s linear;
  }
  
#favorite-nav-content .fade:not(.show) {
    opacity:0
}

.saved_query_message {
    font-size: .85rem;
    border: 0px solid #FFF !important;
}
  