/* CSS from dcc-review.css
---------------------------------------- */

.top_content_section_right {
  align-content: flex-end;
  display: flex;
  flex: 0 0 200px;
  padding-right: 50px;
}

.top_content_section_right .data_preview {
  border-left: 1px solid #cccccc;
  color: #333333;
  float: right;
  font-size: 1rem;
  margin-left: 5px;
  margin-top: 5px;
  width: 240px;
}

.top_content_section_right .data_preview td {
  border-bottom: 1px solid #cccccc;
  padding: 0 0 0 10px;
}

.data_snapshot {
  border: 1px solid #cccccc;
  flex: 0 0 100%;
  margin-bottom: 20px;
}

.snapshot {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.snapshot_head {
  flex: 0 1 auto;
}

.last-updated {
  flex: 0 1 auto;
  font-size: 14px;
}

/* End - CSS from dcc-review.css
---------------------------------------- */

main {
    padding: 0em;
}

.content {
    width: 100%;
    height: 100%;
}

.data_content {
  padding: 14px;
  width: 100%;
}

.data_content > p {
  font-size: 1.25rem;
}

#chart-container {
  display: inline-block;
  width: 65%;
  vertical-align: top;
  height:350px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

#chart-inner-container {
  height:350px;
  position: absolute;
}

#sbc1-group-by-container {
  padding-bottom: 20px;
  margin-top: -12px;
}

#sbc1-group-by-and-legend-container {
  width: 30%;
  display: inline-block;
  padding-left: 1em;
}

#sbc1_container {
  /* padding: 2%; */
  padding: 10px;
  max-height: 250px;
  overflow-y: scroll;
  border: 0px;
}

svg {
  height: 100%;
  /* width: 100%; */
}

.bar-total {
  font-family: sans-serif;
  font-size: .8em;
}

.export-row {
  margin-bottom: 20px;
}

#form-controls {
  margin: 0 auto;
  margin-bottom: 0px;
  margin-top: 10px;
  max-width: 800px;
}

.form-label {
  padding-top: 0.5em;
  margin-bottom: 0em;
}
