
/* CSS from dcc-review.css
----------------------------------------*/

.top_content_section_right {
	display: flex;
	flex:0 0 200px;
	align-content: flex-end;
	padding-right: 50px;
}

.top_content_section_right .data_preview {
	float: right;
	width: 240px;
	font-size: 1rem;
	color: #333333;
	margin-left: 5px;
	margin-top: 5px;
	border-left:1px solid #CCCCCC;
}
.top_content_section_right .data_preview td {
	padding:0 0 0 10px;
	border-bottom:1px solid #CCCCCC;
}

.data_snapshot {
	border:1px solid #cccccc;
	flex:0 0 100%;
	margin-bottom: 20px;
}

.snapshot {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.snapshot_head {
	flex:0 1 auto;
}

.last-updated {
	font-size: 14px;
	flex:0 1 auto;
}


/* End - CSS from dcc-review.css
----------------------------------------*/

.data_content {
    padding: 14px;
    width: 940px;
}

.data_content>p {
    font-size: 1.25rem;
}

#chart-container {
  height: 350px;
  margin: auto;
}

svg {
  height: 100%;
  width: 100%;
}

.bar-total {
  font-family: sans-serif;
  font-size: .8em;
}

.export-row {
  margin-bottom: 20px;
}

#form-controls {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 600px;
}
